<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowPairing</key>
	<true/>
	<key>AutoAdvanceSetup</key>
	<true/>
	<key>AwaitDeviceConfigured</key>
	<false/>
	<key>CloudConfigurationUIComplete</key>
	<true/>
	<key>ConfigurationSource</key>
	<integer>0</integer>
	<key>ConfigurationWasApplied</key>
	<true/>
	<key>IsMDMUnremovable</key>
	<integer>0</integer>
	<key>IsMandatory</key>
	<false/>
	<key>IsMultiUser</key>
	<false/>
	<key>IsSupervised</key>
	<false/>
	<key>MDMProtocolVersion</key>
	<integer>1</integer>
	<key>OrganizationAddress</key>
	<string>N/A</string>
	<key>OrganizationAddressLine1</key>
	<string>N/A</string>
	<key>OrganizationAddressLine2</key>
	<string>N/A</string>
	<key>OrganizationCity</key>
	<string>N/A</string>
	<key>OrganizationCountry</key>
	<string>USA</string>
	<key>OrganizationDepartment</key>
	<string>N/A</string>
	<key>OrganizationEmail</key>
	<string>N/A</string>
	<key>OrganizationMagic</key>
	<string>03a2e2ac-60bb-4cc6-aa2f-ffe193e5c55a</string>
	<key>OrganizationName</key>
	<string>SkipMe</string>
	<key>OrganizationPhone</key>
	<string>N/A</string>
	<key>OrganizationSupportPhone</key>
	<string>N/A</string>
	<key>OrganizationZipCode</key>
	<string>55555</string>
	<key>SkipSetup</key>
	<array>
		<string>Restore</string>
		<string>AppleID</string>
		<string>TOS</string>
		<string>Siri</string>
		<string>Diagnostics</string>
		<string>Passcode</string>
		<string>Registration</string>
		<string>Biometric</string>
		<string>Payment</string>
		<string>Zoom</string>
		<string>Android</string>
	</array>
</dict>
</plist>
